<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>LITA Ecole d'été sur la cybersécurité</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
     role="alert">
    [[${message}]]
    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div th:if="${employeeList.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">firstName</th>
            <th scope="col">lastName</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tutorial : ${employeeList}">
            <th scope="row">[[${tutorial.id}]]</th>
            <td>[[${tutorial.username}]]</td>
            <td>[[${tutorial.firstName}]]</td>
            <td>[[${tutorial.lastName}]]</td>
            <td>[[${tutorial.roles}]]</td>
            <td>
                <a th:href="@{'/all/' + ${tutorial.id}}" title="Edit"
                   class="fa-regular fa-pen-to-square icon-dark"></a>

                <a th:href="@{'/all/delete/' + ${tutorial.id}}" id="btnDelete"
                   title="Delete this tutorial" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>